nav.navbar {
	margin-bottom: 0px;
	border: none;
	// background-color: #fff;
	// z-index: 1;
	// box-shadow: rgba(0,0,0,.14);
	// display: flex;
	// border: .5px solid #ddd;
	// border-radius: 1;
	background-color: #000;
	opacity:.8;
	// color: white;
}

.dropdown ul {
	background-color: #000;
}

.main {
	// background: url("../assets/bg.jpg");
}

.example-fill-remaining-space {
  // This fills the remaining space, by using flexbox. 
  // Every toolbar row uses a flexbox row layout.
  flex: 1 1 auto;
}

nav.navbar li a, span {
	// background-color: #6369ff;
	// background-color: #6369D1;
	color: #fff;
	font-weight: bold;
	font-size: 15px;
	background-color: #000;
}

nav.navbar li a:hover {
	// background-color: #6369ff;
	// border-bottom: 20px;
	// border-bottom-color: #6369ff;
	// background-color: #6369D1;
	// color: #000;
	// color: #fff;
	// font-size: 16px;
	// border: 1px solid #000;
	padding-bottom: 13px;
	padding-top: 14px;
	// margin-bottom: -5px;
	// margin-top: -5px;
	border: 1px  solid #fff;
	// border-bottom: 2px  solid #6369ff;
	// border-top: 2px solid #6369ff;
}

.banner {
	background: url("../assets/icon-background.png");
	background-size: 50%;
	width: 100%;
	// height: 600px;
	background-color: #6369D1;
	display: block;
	text-align: left;
	padding: 64px 15px 64px 15px;
	color: #fff;
	position: relative;
	margin-bottom: 20px;
	// background: linear-gradient(162deg,#414141,#414141 41%,#3d3d3d 0);
	// background: linear-gradient(162deg,#414141,#414141 41%,#3d3d3d 0);
}

img.banner-image {
	min-width: 300px;
	max-width: 400px;
	max-height: 300px;
}

span.logo {
	font-family: serif;
	font-size: 35px;
	font-variant: small-caps;
	font-style: oblique;
}