<p>
  myarts works!
</p>

<div class="container-fluid">
  <div *ngIf="this.result as lists else noData" class="col">
    <div class="col-md-10 col-sm-12 col-md-offset-1">
      <div class='panel panel-primary'>
        <div class='panel-heading'>
            <p>Art List</p> 
        </div>
        <div class='panel-body'>
          <div class='table-responsive'>
            <table class='table'>
              <thead>
                  <tr>
                      <th *ngFor="let list of lists.COLUMNS">{{list}}</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let list of lists.DATA">
                      <td>{{ list.IMAGEID }}</td>
                      <td>{{ list.IMAGENAME }}</td>
                      <td>{{ list.IMAGEDESCRIPTION }}</td>
                      <td>{{ list.IMAGEFILE }}</td>
                      <td>{{ list.CREATEDON }}</td>
                      <td>{{ list.MODIFIEDON }}</td>
                      <td>{{ list.USERID }}</td>
                      <td>{{ list.STATUS }}</td>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #noData><div class="loading"></div>No Data Available</ng-template>
</div>
